fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
pydantic
streamlit
streamlit-authenticator
pytest
loguru
black
httpx-socks
python-telegram-bot==20.7
httpx==0.25.2              # Required by telegram-bot
solana==0.25.0